.page-header
  %h1= title t '.title'

.container
  .row
    .col-md-3
      = link_to (image_tag @engineer.image.thumbnail.url, class: 'img-responsive rounded center-block'),
        [:companies, @engineer]

    .col-md-9
      .panel.panel-default
        .panel-heading= @engineer.name

  .row
    %hr
    .col-md-12
      = form_for [:companies, @scout],
        html: { class: 'form-horizontal', role: 'form' } do |f|

        - if @scout.errors.any?
          .alert.alert-danger.alert-dismissable{ role: 'alert' }
            %button.close{ type: 'button', data: { dismiss: 'alert' } }
              %span{ aria: { hidden: 'true' } } &times;
              %span.sr-only Close
            %h4= "#{pluralize(@scout.errors.count, t('.errors'))}"

            %ul
              - @scout.errors.full_messages.each do |msg|
                %li= msg

        = f.hidden_field :engineer_id, value: @engineer.id
        .form-group
          %label.col-sm-2.control-label.control-label-required
            = t('.interviewed_on')
            &nbsp;
            %span.label.label-info= t('.required')
          .col-sm-10
            = f.hidden_field :interviewed_on
            = @scout.interviewed_on

        .form-group
          %label.col-sm-2.control-label.control-label-required
            = t('.start_at')
            &nbsp;
            %span.label.label-info= t('.required')
          .col-sm-10
            = f.text_field :start_at, id: 'end_on_datepicker', data: { date_format: 'YYYY/MM/DD' },
              class: 'form-control'

        .form-group
          %label.col-sm-2.control-label.control-label-required
            = t('.end_at')
            &nbsp;
            %span.label.label-info= t('.required')
          .col-sm-10
            = f.text_field :end_at, id: 'end_on_datepicker', data: { date_format: 'YYYY/MM/DD' },
              class: 'form-control'

        .form-group
          %label.col-sm-2.control-label.control-label-required
            = t('.note')
            &nbsp;
            %span.label.label-info= t('.required')
          .col-sm-10
            = f.text_area :note, class: 'form-control', placeholder: t('.note_example')
        .form-group
          .col-sm-offset-2.col-sm-10
            = f.submit class: 'btn btn-primary'
