// @TODO 会社情報
//       他の応募一覧とか？

.page-header
  %h1= title t '.title'

.container
  .row
    .col-md-3
      = link_to (image_tag @engineer.image.thumbnail.url, class: 'img-responsive rounded center-block'),
        [:companies, @engineer]
    .col-md-9
      .panel.panel-default
        .panel-heading= @engineer.name
  .row
    %hr
    %table.table.table-bordered
      %tbody
        %tr
          %th= t('activerecord.attributes.scouts.interviewed_on')
          %td= @scout.interviewed_on
        %tr
          %th= t('activerecord.attributes.scouts.start_at')
          %td= @scout.start_at
        %tr
          %th= t('activerecord.attributes.scouts.end_at')
          %td= @scout.end_at
        %tr
          %th= t('activerecord.attributes.scouts.note')
          %td= @scout.note
