// @TODO 会社情報
//       他の応募一覧とか？

.page-header
  %h1= title t '.title'

.container
  .row
    .col-md-3
      = link_to (image_tag @apply.company.image.thumbnail.url, class: 'img-responsive rounded center-block'),
        [:engineers, @apply.company]

    .col-md-9
      .panel.panel-default
        .panel-heading= @apply.project.title
        .panel-body= @apply.project.note.truncate(90)
  .row
    %hr
    %table.table.table-bordered
      %tbody
        %tr
          %th= t('.interviewed_on')
          %td= @apply.interviewed_on
        %tr
          %th= t('.start_at')
          %td= @apply.start_at
        %tr
          %th= t('.engineer_reason')
          %td= @apply.engineer_reason
