.container
  .page-header
    %h1 今回のレビュー詳細

.container
  .row
    .panel.panel-default
      .panel-heading= @review.title
      .panel-body= @review.note
      .panel-body= @review.code
      .panel-body= @review.note
      .panel-body= @review.code
  .row
    .col-md-3
      .panel.panel-default
        .panel-heading= '参加ユーザーとか'
        .panel-body= @review.note
        .panel-body= @review.code
        .panel-body= @review.note
        .panel-body= @review.code
    .col-md-6
      .panel.panel-default
        .panel-heading= @review.title
        .panel-body= @review.note
        .panel-body= @review.code
        .panel-body= @review.note
        .panel-body= @review.code
    .col-md-3
      .panel.panel-default
        .panel-heading= 'ランキングとか'
        .panel-body= @review.note
        .panel-body= @review.code
        .panel-body= @review.note
        .panel-body= @review.code
