// @TODO datetimepicerのフォーマット指定をcoffeeでする。 -> projects.coffee
//       noteのテンプレート機能実装する。
//       下書き機能の実装する。

.col-md-12
  = form_for [:companies, @project], html: { class: 'form-horizontal', role: 'form' } do |f|

    - if @project.errors.any?
      .alert.alert-danger.alert-dismissable{ role: 'alert' }
        %button.close{ type: 'button', data: { dismiss: 'alert' } }
          %span{ aria: { hidden: 'true' } } &times;
          %span.sr-only Close
        %h4= "#{pluralize(@project.errors.count, t('.errors'))}"

        %ul
          - @project.errors.full_messages.each do |msg|
            %li= msg

    .form-group
      %label.col-sm-2.control-label.control-label-required
        = t('.project_title')
        &nbsp;
        %span.label.label-info= t('.required')
      .col-sm-10
        = f.text_field :title, class: 'form-control', placeholder: t('.title_example')

    .form-group
      %label.col-sm-2.control-label.control-label-required
        = t('.start_on')
        &nbsp;
        %span.label.label-info= t('.required')
      .col-sm-10
        = f.text_field :start_on, id: 'start_on_datepicker', data: { date_format: 'YYYY/MM/DD' },
          class: 'form-control'

    .form-group
      %label.col-sm-2.control-label.control-label-required
        = t('.end_on')
        &nbsp;
        %span.label.label-info= t('.required')
      .col-sm-10
        = f.text_field :end_on, id: 'end_on_datepicker', data: { date_format: 'YYYY/MM/DD' },
          class: 'form-control'

    .form-group
      %label.col-sm-2.control-label.control-label-required
        = t('.note')
        &nbsp;
        %span.label.label-info= t('.required')
      .col-sm-10
        = f.text_area :note, class: 'form-control', placeholder: t('.note_example')

    .form-group
      .col-sm-offset-2.col-sm-10
        = f.submit class: 'btn btn-primary'
