// @TODO datetimepicerのフォーマット指定をcoffeeでする。 -> projects.coffee
//       noteのテンプレート機能実装する。
//       下書き機能の実装する。
//       タグのvalidation

.col-md-12
  = form_for [:companies, @project], html: { class: 'form-horizontal', role: 'form' } do |f|

    - if @project.errors.any?
      .alert.alert-danger.alert-dismissable{ role: 'alert' }
        %button.close{ type: 'button', data: { dismiss: 'alert' } }
          %span{ aria: { hidden: 'true' } } &times;
          %span.sr-only Close
        %h4= "#{pluralize(@project.errors.count, t('.errors'))}"

        %ul
          - @project.errors.full_messages.each do |msg|
            %li= msg

    .form-group
      %label.col-md-3.control-label.control-label-required
        = t('activerecord.attributes.project.title')
        &nbsp;
        %span.label.label-info= t('helpers.labels.required')
      .col-md-9
        = f.text_field :title, class: 'form-control', placeholder: t('.title_example')

    .form-group
      %label.col-md-3.control-label.control-label-required
        = t('activerecord.attributes.project.started_on')
        &nbsp;
        %span.label.label-info= t('helpers.labels.required')
      .col-md-9
        = f.text_field :start_on, id: 'datepicker_of_start', data: { date_format: 'YYYY/MM/DD' },
          class: 'form-control'

    .form-group
      %label.col-md-3.control-label.control-label-required
        = t('activerecord.attributes.project.ended_on')
        &nbsp;
        %span.label.label-info= t('helpers.labels.required')
      .col-md-9
        = f.text_field :end_on, id: 'datepicker_of_end', data: { date_format: 'YYYY/MM/DD' },
          class: 'form-control'

    #tags.form-group
      = f.fields_for :project_tags do |project_tag|
        .col-md-9
          = render 'project_tag_fields', f: project_tag
      .links.col-md-9.pull-right
        = link_to_add_association "Tag を追加", f, :project_tags, class: 'btn btn-primary btn-block'

    .form-group
      %label.col-md-3.control-label.control-label-required
        = t('activerecord.attributes.project.note')
        &nbsp;
        %span.label.label-info= t('helpers.labels.required')
      .col-md-9
        = f.text_area :note, size: '90x90', class: 'form-control', placeholder: t('.note_example')

    .form-group
      .col-md-2.pull-right
        = f.submit class: 'btn btn-primary btn-block'
