.page-header
  %h1= title @project.title

.container
  .row
    .col-md-3
      = link_to (image_tag @project.company.image.url, class: 'img-responsive rounded center-block'),
        [:engineers, @project.company]

    .col-md-9
      .panel.panel-default
        .panel-heading= @project.title
        .panel-body
          - @project.project_tags.each do |project_tag|
            %span.label.label-info= project_tag.tag.name
        .panel-body= simple_format(@project.note)
