.page-header
  = link_to companies_my_page_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    Back
  %h1= title t('.title')

.row
  .col-xs-12.col-md-offset-2.col-md-8
    = form_for [:companies, @confirm_document], html: { class: 'form-horizontal' } do |f|
      - if @confirm_document.errors.any?
        #error_explanation
          %h2= "#{pluralize(@confirm_document.errors.count, t('.errors'))}"

          %ul
            - @confirm_document.errors.full_messages.each do |message|
              %li= message
      .form-group
        = f.label t('.upload'), class: 'col-sm-2 control-label'
        .col-sm-10
          = f.file_field :image

      .form-group
        .col-sm-offset-2.col-sm-10
          = f.submit t('.submit'), class: 'btn btn-primary'
