%nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header= link_to 'Pullrequest', root_path, class: 'navbar-brand'

    .collapse.navbar-collapse
      %ul.nav.navbar-nav

      %ul.nav.navbar-nav.pull-right
        %li
          %p.nav-text= image_tag current_company.image.url, size: '36x36', class: 'img-circle'
        %li= link_to current_company.name, companies_my_page_path

        %li
          = link_to destroy_company_session_path, method: :delete do
            = icon 'sign-out'
            &nbsp;
            スタートアップ
            = t('helpers.label.user.log_out')
